*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
bin/
BIN/
DEBUG/
*.Sou
obj/
*.scc
*.vsscc
*.vssscc
*.vspscc
*.log
build_log.xml
*.suo
*.user
_ReSharper*
*.resharper
bin/
obj/
class/
build/
*.bak
*.old
*Thumbs.db 
Debug/
Release/ 
*.visualstate.xml 
testresult.xml 
SandcastleAPIDocs 
*.gpState 
*.Publish.xml 
Bin/ 
bin/
BIN/
*.StyleCop
StyleCop.Cache
Elmah.Errors/