@model TextAnalyzer.Models.TextAnalysis
@{
    ViewBag.Title = "Analyze Text";
}
<h2>
    Text Analysis Results</h2>
    @Html.ActionLink("Back to home", "Index")
    
<ul>
    @if (Model.LetterCounts.Count == 0)
    {
        <li>There were no letters found in the text.</li>
    }
    @foreach (var item in Model.LetterCounts)
    {
        <li>
            @item.Key : @item.Value
        </li>
    }
</ul>
