@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
@using (Html.BeginForm())
{
    @Html.TextArea("TextToAnalyze")
    <p>
        <input type="submit" value="Analyze Text" class="analyzeButton" />
    </p>
}
